.login--comp{
    background-color: #F2F7FA;
    padding: 50px 0;
    height: 100vh;
}
.login--comp__wrapper{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 50px 0;
    background-color: #fff;
    border-radius: 25px;
    -webkit-box-shadow: 73px 59px 57px -60px rgba(22,38,52,1);
    -moz-box-shadow: 73px 59px 57px -60px rgba(22,38,52,1);
    box-shadow: 73px 59px 57px -60px rgba(22,38,52,1);
}
.login--comp__img-wrapper{
    width: 70%;
    margin: 0 auto;
}
.login--comp__img{
    width: 100%;
}

.login-container {
    max-width: 500px;
    width: 80%;
    margin: 0 auto;
}
.login-form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
    justify-content: center;
}

.login-input {
    padding: 15px;
    border-radius: 30px;
    border: 1px solid #e0e0e0;
    background-color: #f6f6f6;
    width: 100%;
    font-size: 14px;
}

.options-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.remember-me {
    display: flex;
    align-items: center;
}

.remember-me input {
    margin-right: 5px;
}

.forgot-password {
    color: #6f6f6f;
    font-size: 12px;
    text-decoration: none;
}

.login-button {
    padding: 15px;
    border: none;
    border-radius: 30px;
    background-color: #162634;
    color: #F2F7FA;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.signup-container {
    text-align: center;
    margin-top: 20px;
}
  
.signup-link {
    color: #162634;
    text-decoration: none;
    font-weight: bold;
}

.password-input-container {
    position: relative;
}

.password-input {
    padding-right: 60px; /* Space for the toggle button */
}

.show-password-toggle {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #6f6f6f;
    font-size: 12px;
    cursor: pointer;
    font-weight: bold;
}