@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #162634;
  font-family: "Saira Condensed", sans-serif;
}
button{
  cursor: pointer;
}
.title {
  
  text-transform: uppercase;
}
.login-title a{
  color: #F2F7FA !important;
}
h1 {
  font-size: 72px;
}

p {
  font-family: "Roboto", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* body {
  background-color: #bee4fa;
} */

body {
  width: 100%;
  margin: 0 auto;
}
.error-message{
  color: red;
  font-size: 12px;
}

@media screen and (max-width: 767px){
  .landing__page{
    height: 50vh !important;
  }
  .register--comp,
  .profile--comp,
  .login--comp,
  .navbar--header,
  .landing__page{
    padding: 0 10px !important;
  }
  .landing__page{
    text-align: center;
  }
  .landing__page--description{
    flex: 100%;
  }
  .landing__page--logo{
    display: none;
  }
  .landing__page--description--slogan p,
  .mission--comp__list-para{
    font-size: 14px !important;
  }
  h1{
    font-size: 32px;
  }
  p{
    font-size: 12px !important;
  }
  h2{
    font-size: 24px !important;
  }
  .landing__page--description--btns{
    justify-content: center !important; 
  }
  .landing__page--description--btns button{
    font-size: 14px !important;
  }
  .mission--comp,
  .contact--comp,
  .parent--comp,
  .about--comp{
    padding: 10px !important;
  }
  .mission--comp__list-img{
    width: 50px !important;
  }
  .contact--comp__lists{
    flex-direction: column !important;
  }
}